@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #000000;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #FFFFFF;
  max-width: 1280px;
  width: 100%;
}
header nav .nav-stat, header nav .nav-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
header nav .nav-stat .nav-list, header nav .nav-end .nav-list {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}
header nav .nav-stat .nav-list .nav-a, header nav .nav-end .nav-list .nav-a {
  color: #000000;
  text-decoration: none;
}
header nav .nav-stat .nav-list .nav-signup, header nav .nav-end .nav-list .nav-signup {
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #15B79E;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.drod {
  display: none;
}

section {
  width: 1440px;
  padding: 0 80px;
}

.bg-green {
  margin: 0;
  padding: 0;
  background: #125D56;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 10px;
  max-width: 1280px;
}

.section-details {
  max-width: 1280px;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.sku-h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}

.img-vector {
  width: 480px;
  height: 12px;
}

.sku-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.sku-button {
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #15B79E;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 16px 28px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #15B79E;
}

.about-h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.about-h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  margin: 64px 0 96px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail-img {
  width: 576px;
  height: 576px;
}

.detail-cemtent {
  width: 576px;
  height: 576px;
  gap: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.why-sku-managment {
  width: 1440px;
  padding: 0 80px;
}

.topic {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.det-p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #15B79E;
}

.det-h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

.det-h5 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.det-box {
  margin-top: 64px;
  width: 1216px;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100px;
}

.det-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 384px;
  padding: 32px 24px;
  gap: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
}

.box-h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.box-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.box-spam {
  color: #15B79E;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing {
  width: 1280px;
  padding: 96px 32px;
  gap: 20px;
  border-radius: 20px;
  background-color: #125D56;
  display: flex;
  flex-direction: column;
}

.pricing-h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}

.pricing-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
  color: #D0D5DD;
}

.pricing-button {
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #15B79E;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 16px 28px;
  align-self: center;
  margin: 0;
}

.footer {
  width: 1440px;
  padding: 64px 80px 48px;
  gap: 162px;
  border-top: 1px solid #D0D5DD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}
.footer-ul, .footer_ul {
  list-style-type: none;
}
.footer_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .img-ul {
  width: 491px;
}
.footer .content-ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 789px;
}
.footer-li {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.frame {
  width: 1280px;
  gap: 0;
  justify-content: space-between;
}
.frame .footer-frame {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  gap: 793px;
}

.footer-tab {
  display: none;
}

@media only screen and (min-width: 850px) {
  .frame {
    padding: 31px 32px;
  }
}
.version {
  width: 100%;
}

.alternate_listing_menu_parent {
  display: none;
}

.deti {
  flex-direction: column;
  left: 20px;
  top: 30px;
  gap: 0;
  position: absolute;
  padding-top: 0;
  margin-bottom: 100px;
}

.det {
  top: 30px;
  margin-top: 50px;
  list-style-type: none;
}

.t {
  width: 680px;
  height: 36px;
  padding: 6px 0;
  gap: 10px;
  align-self: start;
}/*# sourceMappingURL=html.css.map */