@media only screen and (max-width: 768px) {

    section{
        width: Fill (744px)px;
        height: Hug (960px)px;
        padding: 64px 32px 64px 32px;
        gap: 32px;
        opacity: 0px;
        margin : 0px;
        padding:0px;

    }

    .section-container{
        flex-direction: column-reverse;
        

    }
    
    .sku-img{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        
    }


    .sku-button{
        width:100%;
    }

    .sales-img{
        width: 500px;
        height: 500px;
        gap: 0px;
        opacity: 0px;
    }


    

    .nav-list{
        display: none;
    }

    .navmenu , .logo{
        display :contents;
    }

    .navmenu{
        width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;

    }

    .about-h1{
        margin:0px 0px;
    }

    .about-us{
        padding-top:100px;
        padding-bottom:100px;
    }

    .detail{
        flex-direction: column;
        width: Fill (680px)px;
height: Hug (976px)px;
gap: 48px;
opacity: 0px;

    }

    .detail-cemtent{
        width: Fill (680px)px;
height: Hug (428px)px;
gap: 48px;
opacity: 0px;
padding-bottom:100px

    }

    .detail-img_img
{
    width: 500px;
    height: 500px;
    gap: 0px;
    opacity: 0px;
    
}  
.detail-p{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.detail-h1{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;

}

.det-box{
    grid-template-columns: repeat(2, 1fr);
}


.pricing{
    margin:64px 32px 64px 32px;
}

.footer-li{
    display:none;
}




.drop{
    display : flex ;
    flex-direction: column;
    padding : 10px;
}

.footer{
    display: none;
}

.drop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropcontent-img{
    width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;

}

.dropcontent-button{
    background-color: white;
    border:white;
}

.footer-tab{
    width: Fill (744px)px;
height: Fixed (537px)px;
padding: 48px 32px 0px 32px;
gap: 48px;
border: 1px 0px 0px 0px;
opacity: 0px;
display:flex;
flex-direction: column;
align-items: space-between;
justify-content: space-between;

}

.frame{
    padding-bottom:50px;
}

.content-h3{
    align-items: center;
    align-content: center;
    justify-content: center;
}

.drod{
    display: block;
}

.deti{
    display: none;
}

.clol{
    display: none;
}

.line{
    display: none;
}



.drop-1-d{
    display: non
}
.line:checked ~ .deti{
    display: block;
}

.line:checked ~ .clol{
    display: block;
}

.line:checked ~ .open{
    display: none;
}

#drop-1:hover #drop-1-d{
    display:block;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.drop-content {
    margin: 20px;
}

.accordion-toggle {
    display: none;
}

.dropcontent-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropcontent-img {
    width: 20px;
    height: 20px;
}

.footer_ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: none; /* Initially hidden */
    
}

.footer-tab-imp{
    margin-top:10px;
    margin-bottom: 100px;
    
}

.footer_li {
    margin: 5px 0;
}

/* Display the ul when the checkbox is checked */
.accordion-toggle:checked ~ .dropcontent-button ~ .footer_ul {
    display: block;
}
.alternate_listing_menu_parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 48px 32px;
    max-width: 100%;
    gap: 48px;
}
.alternate_listing_menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.alternate_listing_menu_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 0.5px solid black;
}
.alternate_listing_menu_item p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #475467;
}
.alternate_listing_menu_item_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}
.alternate_listing_menu_item ul{
    list-style-type: none;
    padding-left:5px;
}
.alternate_listing_menu_item li{
    padding:12px 16px ;
    /* background-color: gray; */
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.alternate_listing_menu_item li:hover{
    background-color:#F0FDF9;
}


#alternate_listing_company_content{
    display: none;
}
#alternate_listing_company:hover #alternate_listing_company_content{
    display: block;
    margin: 0;
    padding: 0;
}
#alternate_listing_sales_content{
    display: none;
}
#alternate_listing_sales:hover #alternate_listing_sales_content{
    display: block;
    margin: 0;
    padding: 0;
}
#alternate_listing_resources_content{
    display: none;
}
#alternate_listing_resources:hover #alternate_listing_resources_content{
    display: block;
    margin: 0;
    padding: 0;
}
#alternate_listing_support_content{
    display: none;
}
#alternate_listing_support:hover #alternate_listing_support_content{
    display: block;
    margin: 0;
    padding: 0;
}
}